[submodule "lib/LuaPath"]
	path = src/lib/LuaPath
	url = https://github.com/JanSharp/LuaPath.git
	branch = master
[submodule "lib/LFSClasses"]
	path = src/lib/LFSClasses
	url = https://github.com/JanSharp/LFSClasses.git
	branch = master
[submodule "lib/LuaArgParser"]
	path = src/lib/LuaArgParser
	url = https://github.com/JanSharp/LuaArgParser.git
	branch = master
[submodule "debugging/minimal-no-base-mod"]
	path = debugging/minimal-no-base-mod
	url = https://github.com/Bilka2/minimal-no-base-mod.git
[submodule "debugging/JanSharpDevEnv"]
	path = debugging/JanSharpDevEnv
	url = https://github.com/JanSharp/JanSharpDevEnv.git
