
body {
  background-color: #181a1f;
  color: #dcdcdc;
}

.function {
  color: #f0ec00;
}

.parameter {
  color: #56bd26;
}

table, th, td {
  border: 2px solid #333333;
  border-collapse: collapse;
}

td {
  padding: 6px;
}

.indent {
  margin-left: 16px!important;
}

.type {
  color: #90f1e1;
}

.literal {
  color: #e29660;
}

.local {
  color: #a7ef00;
}

a {
  color: #90f1e1;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.markdown code {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0px;
  font-size: 90%;
  background-color: #444444;
  border-radius: 5px;
}

.markdown > :first-child {
  margin-top: 0!important;
}

.markdown > :last-child {
  margin-bottom: 0!important;
}

hr {
  height: 0;
  border-width: 2px;
  border-color: #333333;
  margin-top: 1em;
  margin-bottom: 1em;
}
